div#Logo img {
    max-width: 120px;
}
.content-image-1 {
    max-width: 400px;
    height: auto;
}

.bs-a {
    box-shadow: 0px 0px 20px 3px #00000014;
}
.bg-gradient-blue {
    background: #3184ce;
    background: linear-gradient(90deg, rgb(57, 120, 198) 35%, rgba(0,212,255,1) 100%);
}
@media only screen and (max-width: 980px) {
    
    .col4 > div {
        flex-basis: 100%;
    }
}
@media only screen and (min-width: 980px) {
    
    .col4 > div {
        flex-basis: calc(100% /4);
    }
}